# Ignorer les fichiers et dossiers spécifiques
.bash_history
.bashrc
.gitignore
.local/
.ssh/
.bash_logout
.docker/
.gitconfig
.lesshst
.profile
.sudo_as_admin_successful

# Ne pas ignorer les autres fichiers/dossiers
!*
