db_data/
mariadb/*.env
*.env
web/certbot/conf/keys/
web/certbot/conf/live/
web/certbot/conf/accounts/
web/certbot/conf/archive/
web/certificate/nginx-selfsigned.key
web/certbot/log/
mail/docker-data/
tp_files/
